n8n/university-data-quality-dashboard/workflows/01_university_dashboard_ui.json
{
  "name": "University Dashboard UI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "university-dashboard",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7d681298-2079-52cc-b724-164b1898bd26",
      "name": "GET /university-dashboard",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "4a34832a-19d3-59df-9a0f-ccb8ad96"
    },
    {
      "parameters": {
        "jsCode": "const html = \"<!doctype html>\\n<html lang=\\\"en\\\">\\n<head>\\n  <meta charset=\\\"utf-8\\\">\\n  <meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1\\\">\\n  <title>University Data Quality</title>\\n  <style>\\n    :root {\\n      --bg: #f5f7f6;\\n      --surface: #ffffff;\\n      --surface-2: #f9faf8;\\n      --text: #1d2520;\\n      --muted: #65736b;\\n      --line: #d7ddd9;\\n      --line-strong: #b9c4be;\\n      --green: #2f7d54;\\n      --green-soft: #e4f3ea;\\n      --amber: #a86f13;\\n      --amber-soft: #fff1d6;\\n      --red: #b63f3a;\\n      --red-soft: #fbe7e5;\\n      --teal: #1f766f;\\n      --teal-soft: #dff3f1;\\n      --violet: #6656a5;\\n      --violet-soft: #ece9f7;\\n      --charcoal: #2d3330;\\n      --shadow: 0 10px 28px rgba(32, 42, 36, 0.08);\\n      --radius: 8px;\\n      --font: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, \\\"Segoe UI\\\", sans-serif;\\n    }\\n\\n    * { box-sizing: border-box; }\\n    html, body { height: 100%; }\\n    body {\\n      margin: 0;\\n      background: var(--bg);\\n      color: var(--text);\\n      font-family: var(--font);\\n      font-size: 14px;\\n      letter-spacing: 0;\\n    }\\n\\n    button, input, select, textarea {\\n      font: inherit;\\n      letter-spacing: 0;\\n    }\\n\\n    button {\\n      border: 1px solid var(--line-strong);\\n      background: var(--surface);\\n      color: var(--text);\\n      min-height: 36px;\\n      padding: 0 12px;\\n      border-radius: 6px;\\n      cursor: pointer;\\n      display: inline-flex;\\n      align-items: center;\\n      justify-content: center;\\n      gap: 8px;\\n      white-space: nowrap;\\n    }\\n\\n    button:hover { border-color: var(--charcoal); }\\n    button.primary {\\n      border-color: var(--green);\\n      background: var(--green);\\n      color: #fff;\\n    }\\n    button.danger {\\n      border-color: var(--red);\\n      color: var(--red);\\n    }\\n    button:disabled {\\n      opacity: 0.55;\\n      cursor: not-allowed;\\n    }\\n\\n    input, select, textarea {\\n      width: 100%;\\n      min-height: 36px;\\n      border: 1px solid var(--line);\\n      border-radius: 6px;\\n      background: #fff;\\n      color: var(--text);\\n      padding: 8px 10px;\\n      outline: none;\\n    }\\n    textarea { min-height: 92px; resize: vertical; }\\n    input:focus, select:focus, textarea:focus { border-color: var(--teal); box-shadow: 0 0 0 3px rgba(31, 118, 111, 0.12); }\\n\\n    .app-shell {\\n      min-height: 100%;\\n      display: grid;\\n      grid-template-rows: auto auto 1fr;\\n    }\\n\\n    .topbar {\\n      height: 64px;\\n      display: flex;\\n      align-items: center;\\n      justify-content: space-between;\\n      padding: 0 24px;\\n      background: var(--surface);\\n      border-bottom: 1px solid var(--line);\\n      position: sticky;\\n      top: 0;\\n      z-index: 20;\\n    }\\n    .brand {\\n      display: flex;\\n      align-items: center;\\n      gap: 12px;\\n      min-width: 0;\\n    }\\n    .brand-mark {\\n      width: 34px;\\n      height: 34px;\\n      border-radius: 7px;\\n      background: var(--charcoal);\\n      color: #fff;\\n      display: grid;\\n      place-items: center;\\n      font-weight: 800;\\n    }\\n    .brand h1 {\\n      font-size: 17px;\\n      margin: 0;\\n      line-height: 1.1;\\n    }\\n    .brand span {\\n      color: var(--muted);\\n      font-size: 12px;\\n    }\\n    .top-actions { display: flex; gap: 8px; align-items: center; }\\n\\n    .tabs {\\n      display: flex;\\n      gap: 6px;\\n      padding: 12px 24px 0;\\n      overflow-x: auto;\\n      background: var(--bg);\\n    }\\n    .tab {\\n      min-height: 38px;\\n      border-color: transparent;\\n      background: transparent;\\n      color: var(--muted);\\n      border-bottom: 2px solid transparent;\\n      border-radius: 6px 6px 0 0;\\n    }\\n    .tab.active {\\n      color: var(--text);\\n      background: var(--surface);\\n      border-color: var(--line);\\n      border-bottom-color: var(--surface);\\n    }\\n\\n    main {\\n      padding: 16px 24px 28px;\\n      display: grid;\\n      gap: 16px;\\n    }\\n\\n    .panel {\\n      background: var(--surface);\\n      border: 1px solid var(--line);\\n      border-radius: var(--radius);\\n      box-shadow: var(--shadow);\\n    }\\n    .panel-header {\\n      min-height: 48px;\\n      padding: 12px 14px;\\n      border-bottom: 1px solid var(--line);\\n      display: flex;\\n      align-items: center;\\n      justify-content: space-between;\\n      gap: 12px;\\n    }\\n    .panel-title {\\n      display: flex;\\n      align-items: baseline;\\n      gap: 8px;\\n      min-width: 0;\\n    }\\n    .panel-title h2 {\\n      margin: 0;\\n      font-size: 14px;\\n      font-weight: 750;\\n    }\\n    .panel-title span {\\n      color: var(--muted);\\n      font-size: 12px;\\n    }\\n    .panel-body { padding: 14px; }\\n\\n    .kpi-grid {\\n      display: grid;\\n      grid-template-columns: repeat(8, minmax(132px, 1fr));\\n      gap: 10px;\\n    }\\n    .kpi {\\n      background: var(--surface);\\n      border: 1px solid var(--line);\\n      border-radius: var(--radius);\\n      padding: 12px;\\n      min-height: 92px;\\n      display: grid;\\n      align-content: space-between;\\n    }\\n    .kpi label {\\n      color: var(--muted);\\n      font-size: 12px;\\n      white-space: nowrap;\\n      overflow: hidden;\\n      text-overflow: ellipsis;\\n    }\\n    .kpi strong {\\n      font-size: 26px;\\n      line-height: 1;\\n      margin-top: 8px;\\n    }\\n    .kpi small {\\n      color: var(--muted);\\n      margin-top: 8px;\\n      display: block;\\n      min-height: 16px;\\n    }\\n\\n    .grid-2 { display: grid; grid-template-columns: minmax(0, 1fr) minmax(0, 1fr); gap: 16px; }\\n    .grid-3 { display: grid; grid-template-columns: 1.1fr 1fr 1fr; gap: 16px; }\\n    .grid-main { display: grid; grid-template-columns: 280px minmax(0, 1fr); gap: 16px; align-items: start; }\\n\\n    .filters {\\n      display: grid;\\n      gap: 10px;\\n      position: sticky;\\n      top: 128px;\\n    }\\n    .filter-row { display: grid; gap: 6px; }\\n    .filter-row label {\\n      color: var(--muted);\\n      font-size: 12px;\\n      font-weight: 650;\\n    }\\n\\n    .toolbar {\\n      display: flex;\\n      flex-wrap: wrap;\\n      gap: 8px;\\n      align-items: center;\\n    }\\n    .toolbar select { width: auto; min-width: 160px; }\\n\\n    .chart-box {\\n      min-height: 250px;\\n      display: grid;\\n      grid-template-rows: auto 1fr;\\n      gap: 8px;\\n    }\\n    canvas {\\n      width: 100%;\\n      min-height: 206px;\\n      display: block;\\n    }\\n    .legend {\\n      display: flex;\\n      flex-wrap: wrap;\\n      gap: 8px 12px;\\n      color: var(--muted);\\n      font-size: 12px;\\n    }\\n    .legend-item { display: inline-flex; align-items: center; gap: 6px; }\\n    .dot {\\n      width: 9px;\\n      height: 9px;\\n      border-radius: 999px;\\n      background: var(--muted);\\n      flex: 0 0 auto;\\n    }\\n\\n    .bar-list { display: grid; gap: 9px; }\\n    .bar-row {\\n      display: grid;\\n      grid-template-columns: 132px 1fr 44px;\\n      gap: 10px;\\n      align-items: center;\\n      font-size: 12px;\\n      color: var(--muted);\\n    }\\n    .bar-track {\\n      height: 11px;\\n      background: #eef1ef;\\n      border-radius: 999px;\\n      overflow: hidden;\\n    }\\n    .bar-fill {\\n      height: 100%;\\n      border-radius: 999px;\\n      background: var(--teal);\\n    }\\n\\n    .heatmap {\\n      display: grid;\\n      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));\\n      gap: 8px;\\n    }\\n    .heat-cell {\\n      border: 1px solid var(--line);\\n      border-radius: 6px;\\n      padding: 10px;\\n      display: grid;\\n      gap: 7px;\\n      background: var(--surface-2);\\n      min-width: 0;\\n    }\\n    .heat-cell strong {\\n      font-size: 12px;\\n      overflow-wrap: anywhere;\\n    }\\n    .heat-cell span { color: var(--muted); font-size: 12px; }\\n    .heat-rail {\\n      height: 6px;\\n      background: #e9eeeb;\\n      border-radius: 999px;\\n      overflow: hidden;\\n    }\\n    .heat-rail i { display: block; height: 100%; border-radius: 999px; }\\n\\n    .table-wrap {\\n      overflow: auto;\\n      border: 1px solid var(--line);\\n      border-radius: var(--radius);\\n      background: var(--surface);\\n    }\\n    table {\\n      width: 100%;\\n      border-collapse: collapse;\\n      min-width: 1120px;\\n    }\\n    th, td {\\n      padding: 10px 11px;\\n      border-bottom: 1px solid var(--line);\\n      text-align: left;\\n      vertical-align: middle;\\n      white-space: nowrap;\\n    }\\n    th {\\n      color: var(--muted);\\n      font-size: 12px;\\n      font-weight: 750;\\n      background: var(--surface-2);\\n      position: sticky;\\n      top: 0;\\n      z-index: 1;\\n    }\\n    td.name-cell {\\n      min-width: 280px;\\n      white-space: normal;\\n      line-height: 1.35;\\n    }\\n    .muted { color: var(--muted); }\\n    .mono {\\n      font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, \\\"Liberation Mono\\\", monospace;\\n      font-size: 12px;\\n    }\\n\\n    .pill {\\n      display: inline-flex;\\n      align-items: center;\\n      min-height: 24px;\\n      padding: 0 9px;\\n      border-radius: 999px;\\n      font-size: 12px;\\n      font-weight: 700;\\n      border: 1px solid transparent;\\n      white-space: nowrap;\\n    }\\n    .pill.verified { background: var(--green-soft); color: var(--green); border-color: #b8dcc6; }\\n    .pill.probable { background: var(--teal-soft); color: var(--teal); border-color: #a9d9d4; }\\n    .pill.review { background: var(--amber-soft); color: var(--amber); border-color: #f0cf91; }\\n    .pill.risky { background: var(--red-soft); color: var(--red); border-color: #edbab6; }\\n    .pill.neutral { background: #eef1ef; color: var(--muted); border-color: var(--line); }\\n\\n    .score {\\n      width: 56px;\\n      font-weight: 800;\\n      text-align: right;\\n    }\\n\\n    .issue-list {\\n      display: grid;\\n      gap: 8px;\\n      max-height: 360px;\\n      overflow: auto;\\n    }\\n    .issue {\\n      border: 1px solid var(--line);\\n      border-left-width: 4px;\\n      border-radius: 6px;\\n      padding: 9px 10px;\\n      display: grid;\\n      gap: 4px;\\n      background: var(--surface-2);\\n    }\\n    .issue.critical { border-left-color: var(--red); }\\n    .issue.major { border-left-color: var(--amber); }\\n    .issue.minor { border-left-color: var(--teal); }\\n    .issue strong { font-size: 12px; overflow-wrap: anywhere; }\\n    .issue span { color: var(--muted); font-size: 12px; overflow-wrap: anywhere; }\\n\\n    .export-box {\\n      display: grid;\\n      grid-template-columns: repeat(3, minmax(0, 1fr));\\n      gap: 12px;\\n    }\\n    .metric {\\n      border: 1px solid var(--line);\\n      border-radius: 6px;\\n      padding: 12px;\\n      background: var(--surface-2);\\n    }\\n    .metric label { color: var(--muted); font-size: 12px; display: block; }\\n    .metric strong { display: block; margin-top: 6px; font-size: 22px; }\\n\\n    .drawer-backdrop {\\n      position: fixed;\\n      inset: 0;\\n      background: rgba(20, 27, 23, 0.34);\\n      display: none;\\n      z-index: 40;\\n    }\\n    .drawer-backdrop.open { display: block; }\\n    .drawer {\\n      position: fixed;\\n      top: 0;\\n      right: 0;\\n      height: 100%;\\n      width: min(860px, 100%);\\n      background: var(--surface);\\n      border-left: 1px solid var(--line);\\n      transform: translateX(100%);\\n      transition: transform 180ms ease;\\n      z-index: 50;\\n      display: grid;\\n      grid-template-rows: auto 1fr auto;\\n      box-shadow: -18px 0 34px rgba(32, 42, 36, 0.16);\\n    }\\n    .drawer.open { transform: translateX(0); }\\n    .drawer-header,\\n    .drawer-footer {\\n      padding: 14px 16px;\\n      border-bottom: 1px solid var(--line);\\n      display: flex;\\n      align-items: center;\\n      justify-content: space-between;\\n      gap: 12px;\\n    }\\n    .drawer-footer { border-bottom: 0; border-top: 1px solid var(--line); }\\n    .drawer-title { min-width: 0; }\\n    .drawer-title h3 {\\n      margin: 0 0 4px;\\n      font-size: 16px;\\n      line-height: 1.2;\\n      overflow-wrap: anywhere;\\n    }\\n    .drawer-body {\\n      overflow: auto;\\n      padding: 16px;\\n      display: grid;\\n      gap: 16px;\\n    }\\n    .form-grid {\\n      display: grid;\\n      grid-template-columns: repeat(2, minmax(0, 1fr));\\n      gap: 12px;\\n    }\\n    .form-field {\\n      display: grid;\\n      gap: 6px;\\n      min-width: 0;\\n    }\\n    .form-field.full { grid-column: 1 / -1; }\\n    .form-field label {\\n      color: var(--muted);\\n      font-size: 12px;\\n      font-weight: 700;\\n      overflow-wrap: anywhere;\\n    }\\n    .evidence-list {\\n      display: grid;\\n      gap: 7px;\\n    }\\n    .evidence-list a {\\n      color: var(--teal);\\n      text-decoration: none;\\n      overflow-wrap: anywhere;\\n    }\\n    .evidence-list a:hover { text-decoration: underline; }\\n\\n    .empty {\\n      min-height: 180px;\\n      display: grid;\\n      place-items: center;\\n      color: var(--muted);\\n      border: 1px dashed var(--line-strong);\\n      border-radius: var(--radius);\\n      background: var(--surface-2);\\n      text-align: center;\\n      padding: 20px;\\n    }\\n\\n    .toast {\\n      position: fixed;\\n      left: 50%;\\n      bottom: 24px;\\n      transform: translateX(-50%);\\n      background: var(--charcoal);\\n      color: #fff;\\n      padding: 10px 14px;\\n      border-radius: 6px;\\n      box-shadow: var(--shadow);\\n      display: none;\\n      z-index: 80;\\n      max-width: min(520px, calc(100% - 32px));\\n    }\\n    .toast.open { display: block; }\\n\\n    [hidden] { display: none !important; }\\n\\n    @media (max-width: 1280px) {\\n      .kpi-grid { grid-template-columns: repeat(4, minmax(132px, 1fr)); }\\n      .grid-3 { grid-template-columns: 1fr; }\\n      .grid-2 { grid-template-columns: 1fr; }\\n    }\\n\\n    @media (max-width: 860px) {\\n      .topbar { height: auto; min-height: 64px; padding: 12px 14px; align-items: flex-start; gap: 12px; }\\n      .top-actions { flex-wrap: wrap; justify-content: flex-end; }\\n      .tabs { padding-left: 14px; padding-right: 14px; }\\n      main { padding: 14px; }\\n      .kpi-grid { grid-template-columns: repeat(2, minmax(0, 1fr)); }\\n      .grid-main { grid-template-columns: 1fr; }\\n      .filters { position: static; }\\n      .export-box { grid-template-columns: 1fr; }\\n      .form-grid { grid-template-columns: 1fr; }\\n      .brand span { display: none; }\\n    }\\n\\n    @media (max-width: 520px) {\\n      .kpi-grid { grid-template-columns: 1fr; }\\n      .bar-row { grid-template-columns: 96px 1fr 38px; }\\n      .topbar { flex-direction: column; }\\n      .top-actions { justify-content: flex-start; }\\n    }\\n  </style>\\n</head>\\n<body>\\n  <div class=\\\"app-shell\\\">\\n    <header class=\\\"topbar\\\">\\n      <div class=\\\"brand\\\">\\n        <div class=\\\"brand-mark\\\">UQ</div>\\n        <div>\\n          <h1>University Data Quality</h1>\\n          <span id=\\\"runMeta\\\">n8n dashboard</span>\\n        </div>\\n      </div>\\n      <div class=\\\"top-actions\\\">\\n        <button id=\\\"refreshBtn\\\" type=\\\"button\\\">Refresh</button>\\n        <button id=\\\"exportBtn\\\" class=\\\"primary\\\" type=\\\"button\\\">Download CSV</button>\\n      </div>\\n    </header>\\n\\n    <nav class=\\\"tabs\\\" aria-label=\\\"Dashboard views\\\">\\n      <button class=\\\"tab active\\\" type=\\\"button\\\" data-tab=\\\"overview\\\">Overview</button>\\n      <button class=\\\"tab\\\" type=\\\"button\\\" data-tab=\\\"quality\\\">Data Quality</button>\\n      <button class=\\\"tab\\\" type=\\\"button\\\" data-tab=\\\"trust\\\">Trust & Evidence</button>\\n      <button class=\\\"tab\\\" type=\\\"button\\\" data-tab=\\\"review\\\">Review Queue</button>\\n      <button class=\\\"tab\\\" type=\\\"button\\\" data-tab=\\\"export\\\">Export Center</button>\\n    </nav>\\n\\n    <main>\\n      <section class=\\\"kpi-grid\\\" id=\\\"kpis\\\"></section>\\n\\n      <section data-view=\\\"overview\\\">\\n        <div class=\\\"grid-3\\\">\\n          <article class=\\\"panel chart-box\\\">\\n            <div class=\\\"panel-header\\\">\\n              <div class=\\\"panel-title\\\"><h2>Status Distribution</h2><span id=\\\"statusTotal\\\"></span></div>\\n            </div>\\n            <div class=\\\"panel-body\\\">\\n              <canvas id=\\\"statusChart\\\" height=\\\"220\\\"></canvas>\\n              <div class=\\\"legend\\\" id=\\\"statusLegend\\\"></div>\\n            </div>\\n          </article>\\n          <article class=\\\"panel chart-box\\\">\\n            <div class=\\\"panel-header\\\">\\n              <div class=\\\"panel-title\\\"><h2>Score Bands</h2></div>\\n            </div>\\n            <div class=\\\"panel-body\\\">\\n              <div class=\\\"bar-list\\\" id=\\\"scoreBands\\\"></div>\\n            </div>\\n          </article>\\n          <article class=\\\"panel chart-box\\\">\\n            <div class=\\\"panel-header\\\">\\n              <div class=\\\"panel-title\\\"><h2>Source Mix</h2></div>\\n            </div>\\n            <div class=\\\"panel-body\\\">\\n              <canvas id=\\\"sourceChart\\\" height=\\\"220\\\"></canvas>\\n              <div class=\\\"legend\\\" id=\\\"sourceLegend\\\"></div>\\n            </div>\\n          </article>\\n        </div>\\n      </section>\\n\\n      <section data-view=\\\"quality\\\" hidden>\\n        <div class=\\\"grid-2\\\">\\n          <article class=\\\"panel\\\">\\n            <div class=\\\"panel-header\\\">\\n              <div class=\\\"panel-title\\\"><h2>Field Completeness</h2><span id=\\\"fieldCompletenessMeta\\\"></span></div>\\n            </div>\\n            <div class=\\\"panel-body\\\">\\n              <div class=\\\"heatmap\\\" id=\\\"heatmap\\\"></div>\\n            </div>\\n          </article>\\n          <article class=\\\"panel\\\">\\n            <div class=\\\"panel-header\\\">\\n              <div class=\\\"panel-title\\\"><h2>Schema & Outliers</h2></div>\\n            </div>\\n            <div class=\\\"panel-body\\\">\\n              <div class=\\\"bar-list\\\" id=\\\"outliers\\\"></div>\\n              <div class=\\\"issue-list\\\" id=\\\"schemaIssues\\\" style=\\\"margin-top: 14px;\\\"></div>\\n            </div>\\n          </article>\\n        </div>\\n      </section>\\n\\n      <section data-view=\\\"trust\\\" hidden>\\n        <div class=\\\"grid-2\\\">\\n          <article class=\\\"panel\\\">\\n            <div class=\\\"panel-header\\\">\\n              <div class=\\\"panel-title\\\"><h2>Evidence Confidence</h2></div>\\n            </div>\\n            <div class=\\\"panel-body\\\">\\n              <canvas id=\\\"trustChart\\\" height=\\\"260\\\"></canvas>\\n              <div class=\\\"legend\\\" id=\\\"trustLegend\\\"></div>\\n            </div>\\n          </article>\\n          <article class=\\\"panel\\\">\\n            <div class=\\\"panel-header\\\">\\n              <div class=\\\"panel-title\\\"><h2>Risk Flags</h2></div>\\n            </div>\\n            <div class=\\\"panel-body\\\">\\n              <div class=\\\"issue-list\\\" id=\\\"riskFlags\\\"></div>\\n            </div>\\n          </article>\\n        </div>\\n      </section>\\n\\n      <section class=\\\"grid-main\\\" data-view=\\\"review\\\" hidden>\\n        <aside class=\\\"panel filters\\\">\\n          <div class=\\\"panel-header\\\"><div class=\\\"panel-title\\\"><h2>Filters</h2></div></div>\\n          <div class=\\\"panel-body\\\" style=\\\"display: grid; gap: 10px;\\\">\\n            <div class=\\\"filter-row\\\">\\n              <label for=\\\"searchInput\\\">Search</label>\\n              <input id=\\\"searchInput\\\" type=\\\"search\\\" placeholder=\\\"Name, slug, website\\\">\\n            </div>\\n            <div class=\\\"filter-row\\\">\\n              <label for=\\\"countryFilter\\\">Country code</label>\\n              <select id=\\\"countryFilter\\\"></select>\\n            </div>\\n            <div class=\\\"filter-row\\\">\\n              <label for=\\\"statusFilter\\\">Quality status</label>\\n              <select id=\\\"statusFilter\\\">\\n                <option value=\\\"\\\">All</option>\\n                <option>Verified</option>\\n                <option>Probable</option>\\n                <option>Needs Review</option>\\n                <option>Risky</option>\\n              </select>\\n            </div>\\n            <div class=\\\"filter-row\\\">\\n              <label for=\\\"scoreFilter\\\">Score band</label>\\n              <select id=\\\"scoreFilter\\\">\\n                <option value=\\\"\\\">All</option>\\n                <option value=\\\"85-100\\\">85-100</option>\\n                <option value=\\\"70-84\\\">70-84</option>\\n                <option value=\\\"45-69\\\">45-69</option>\\n                <option value=\\\"0-44\\\">0-44</option>\\n              </select>\\n            </div>\\n            <div class=\\\"filter-row\\\">\\n              <label for=\\\"missingFilter\\\">Missing field</label>\\n              <select id=\\\"missingFilter\\\"></select>\\n            </div>\\n            <div class=\\\"filter-row\\\">\\n              <label for=\\\"sourceFilter\\\">Source type</label>\\n              <select id=\\\"sourceFilter\\\">\\n                <option value=\\\"\\\">All</option>\\n                <option value=\\\"official\\\">Official</option>\\n                <option value=\\\"wikidata\\\">Wikidata</option>\\n                <option value=\\\"wikipedia\\\">Wikipedia</option>\\n                <option value=\\\"none\\\">None</option>\\n              </select>\\n            </div>\\n            <div class=\\\"filter-row\\\">\\n              <label for=\\\"riskFilter\\\">Risk filter</label>\\n              <select id=\\\"riskFilter\\\">\\n                <option value=\\\"\\\">All</option>\\n                <option value=\\\"risky\\\">Risky rows</option>\\n                <option value=\\\"duplicate\\\">Duplicate conflicts</option>\\n                <option value=\\\"contact\\\">Contact mismatch</option>\\n                <option value=\\\"schema\\\">Schema errors</option>\\n              </select>\\n            </div>\\n            <button id=\\\"clearFiltersBtn\\\" type=\\\"button\\\">Clear</button>\\n          </div>\\n        </aside>\\n\\n        <article class=\\\"panel\\\">\\n          <div class=\\\"panel-header\\\">\\n            <div class=\\\"panel-title\\\"><h2>Review Queue</h2><span id=\\\"queueCount\\\"></span></div>\\n            <div class=\\\"toolbar\\\">\\n              <select id=\\\"bulkStatus\\\">\\n                <option value=\\\"Approved\\\">Approve selected</option>\\n                <option value=\\\"Needs Review\\\">Mark review</option>\\n                <option value=\\\"Risky\\\">Mark risky</option>\\n              </select>\\n              <button id=\\\"bulkApplyBtn\\\" type=\\\"button\\\">Apply</button>\\n            </div>\\n          </div>\\n          <div class=\\\"panel-body\\\">\\n            <div class=\\\"table-wrap\\\">\\n              <table>\\n                <thead>\\n                  <tr>\\n                    <th style=\\\"width: 42px;\\\"><input id=\\\"selectAllRows\\\" type=\\\"checkbox\\\" aria-label=\\\"Select all\\\"></th>\\n                    <th>Institution</th>\\n                    <th>Location</th>\\n                    <th>Score</th>\\n                    <th>Status</th>\\n                    <th>Missing</th>\\n                    <th>Evidence</th>\\n                    <th>Review</th>\\n                    <th>Website</th>\\n                    <th>Action</th>\\n                  </tr>\\n                </thead>\\n                <tbody id=\\\"recordRows\\\"></tbody>\\n              </table>\\n            </div>\\n          </div>\\n        </article>\\n      </section>\\n\\n      <section data-view=\\\"export\\\" hidden>\\n        <article class=\\\"panel\\\">\\n          <div class=\\\"panel-header\\\">\\n            <div class=\\\"panel-title\\\"><h2>Export Readiness</h2><span>University_Import_Clean.csv</span></div>\\n            <div class=\\\"toolbar\\\">\\n              <button id=\\\"validateExportBtn\\\" type=\\\"button\\\">Revalidate</button>\\n              <button id=\\\"downloadExportBtn\\\" class=\\\"primary\\\" type=\\\"button\\\">Download</button>\\n            </div>\\n          </div>\\n          <div class=\\\"panel-body\\\">\\n            <div class=\\\"export-box\\\" id=\\\"exportMetrics\\\"></div>\\n            <div class=\\\"table-wrap\\\" style=\\\"margin-top: 14px;\\\">\\n              <table>\\n                <thead>\\n                  <tr>\\n                    <th>Institution</th>\\n                    <th>Slug</th>\\n                    <th>Score</th>\\n                    <th>Status</th>\\n                    <th>Review</th>\\n                    <th>Blockers</th>\\n                  </tr>\\n                </thead>\\n                <tbody id=\\\"exportRows\\\"></tbody>\\n              </table>\\n            </div>\\n          </div>\\n        </article>\\n      </section>\\n    </main>\\n  </div>\\n\\n  <div class=\\\"drawer-backdrop\\\" id=\\\"drawerBackdrop\\\"></div>\\n  <aside class=\\\"drawer\\\" id=\\\"recordDrawer\\\" aria-label=\\\"Record editor\\\">\\n    <div class=\\\"drawer-header\\\">\\n      <div class=\\\"drawer-title\\\">\\n        <h3 id=\\\"drawerTitle\\\">Record Editor</h3>\\n        <div class=\\\"muted mono\\\" id=\\\"drawerSlug\\\"></div>\\n      </div>\\n      <button id=\\\"closeDrawerBtn\\\" type=\\\"button\\\">Close</button>\\n    </div>\\n    <div class=\\\"drawer-body\\\">\\n      <div class=\\\"grid-2\\\">\\n        <article class=\\\"panel\\\">\\n          <div class=\\\"panel-header\\\"><div class=\\\"panel-title\\\"><h2>Quality</h2></div></div>\\n          <div class=\\\"panel-body\\\" id=\\\"editorQuality\\\"></div>\\n        </article>\\n        <article class=\\\"panel\\\">\\n          <div class=\\\"panel-header\\\"><div class=\\\"panel-title\\\"><h2>Evidence</h2></div></div>\\n          <div class=\\\"panel-body\\\"><div class=\\\"evidence-list\\\" id=\\\"editorEvidence\\\"></div></div>\\n        </article>\\n      </div>\\n      <form id=\\\"recordForm\\\" class=\\\"form-grid\\\"></form>\\n      <div class=\\\"grid-2\\\">\\n        <div class=\\\"form-field\\\">\\n          <label for=\\\"reviewStatusInput\\\">review_status</label>\\n          <select id=\\\"reviewStatusInput\\\">\\n            <option value=\\\"\\\">Unreviewed</option>\\n            <option value=\\\"Approved\\\">Approved</option>\\n            <option value=\\\"Needs Review\\\">Needs Review</option>\\n            <option value=\\\"Risky\\\">Risky</option>\\n            <option value=\\\"Rejected\\\">Rejected</option>\\n          </select>\\n        </div>\\n        <div class=\\\"form-field\\\">\\n          <label for=\\\"reviewerInput\\\">reviewer</label>\\n          <input id=\\\"reviewerInput\\\" type=\\\"text\\\" placeholder=\\\"n8n-user\\\">\\n        </div>\\n        <div class=\\\"form-field full\\\">\\n          <label for=\\\"reviewNoteInput\\\">review_note</label>\\n          <textarea id=\\\"reviewNoteInput\\\"></textarea>\\n        </div>\\n      </div>\\n      <article class=\\\"panel\\\">\\n        <div class=\\\"panel-header\\\"><div class=\\\"panel-title\\\"><h2>Findings</h2></div></div>\\n        <div class=\\\"panel-body\\\"><div class=\\\"issue-list\\\" id=\\\"editorFindings\\\"></div></div>\\n      </article>\\n    </div>\\n    <div class=\\\"drawer-footer\\\">\\n      <button id=\\\"rerunChecksBtn\\\" type=\\\"button\\\">Rerun checks</button>\\n      <div class=\\\"toolbar\\\">\\n        <button id=\\\"saveRecordBtn\\\" class=\\\"primary\\\" type=\\\"button\\\">Save record</button>\\n      </div>\\n    </div>\\n  </aside>\\n  <div class=\\\"toast\\\" id=\\\"toast\\\"></div>\\n\\n  <script>\\nconst UniversityQuality = (() => {\\n  const CSV_HEADERS = [\\n    \\\"id\\\",\\n    \\\"name\\\",\\n    \\\"location\\\",\\n    \\\"description\\\",\\n    \\\"slug\\\",\\n    \\\"sponsored\\\",\\n    \\\"website\\\",\\n    \\\"global_rank\\\",\\n    \\\"financials\\\",\\n    \\\"student_loan_available\\\",\\n    \\\"campus_student_life\\\",\\n    \\\"number_of_students\\\",\\n    \\\"student_to_faculty_ratio\\\",\\n    \\\"international_student_ratio\\\",\\n    \\\"housing_availability\\\",\\n    \\\"admissions_contact\\\",\\n    \\\"admissions_phone\\\",\\n    \\\"contact_person\\\",\\n    \\\"admissions_page_link\\\",\\n    \\\"immigration_support\\\",\\n    \\\"university_campuses\\\",\\n  ];\\n\\n  const OPTIONAL_EXPORT_FIELDS = new Set([\\\"id\\\", \\\"global_rank\\\", \\\"contact_person\\\"]);\\n  const BINARY_FIELDS = [\\n    \\\"sponsored\\\",\\n    \\\"student_loan_available\\\",\\n    \\\"housing_availability\\\",\\n    \\\"immigration_support\\\",\\n  ];\\n  const INTEGER_FIELDS = [\\n    \\\"location\\\",\\n    \\\"global_rank\\\",\\n    \\\"number_of_students\\\",\\n    \\\"student_to_faculty_ratio\\\",\\n    \\\"international_student_ratio\\\",\\n    \\\"university_campuses\\\",\\n  ];\\n  const NUMERIC_RANGES = {\\n    number_of_students: [50, 500000],\\n    student_to_faculty_ratio: [3, 80],\\n    international_student_ratio: [0, 100],\\n    university_campuses: [1, 200],\\n  };\\n\\n  const COUNTRY_CODES = {\\n    Afghanistan: 4,\\n    Albania: 8,\\n    Algeria: 12,\\n    Argentina: 32,\\n    Australia: 36,\\n    Austria: 40,\\n    Bangladesh: 50,\\n    Belgium: 56,\\n    Brazil: 76,\\n    Canada: 124,\\n    Chile: 152,\\n    China: 156,\\n    Colombia: 170,\\n    Denmark: 208,\\n    Egypt: 818,\\n    Finland: 246,\\n    France: 250,\\n    Germany: 276,\\n    Ghana: 288,\\n    Greece: 300,\\n    India: 356,\\n    Indonesia: 360,\\n    Ireland: 372,\\n    Israel: 376,\\n    Italy: 380,\\n    Japan: 392,\\n    Kenya: 404,\\n    Malaysia: 458,\\n    Mexico: 484,\\n    Netherlands: 528,\\n    \\\"New Zealand\\\": 554,\\n    Nigeria: 566,\\n    Norway: 578,\\n    Pakistan: 586,\\n    Philippines: 608,\\n    Poland: 616,\\n    Portugal: 620,\\n    Romania: 642,\\n    Singapore: 702,\\n    \\\"South Africa\\\": 710,\\n    \\\"South Korea\\\": 410,\\n    Spain: 724,\\n    Sweden: 752,\\n    Switzerland: 756,\\n    Thailand: 764,\\n    Turkey: 792,\\n    Ukraine: 804,\\n    \\\"United Arab Emirates\\\": 784,\\n    \\\"United Kingdom\\\": 826,\\n    \\\"United States\\\": 840,\\n    Vietnam: 704,\\n  };\\n\\n  function toText(value) {\\n    if (value === null || value === undefined) return \\\"\\\";\\n    return String(value).trim();\\n  }\\n\\n  function isBlank(value) {\\n    return toText(value) === \\\"\\\";\\n  }\\n\\n  function isIntegerLike(value, allowBlank) {\\n    if (allowBlank && isBlank(value)) return true;\\n    return /^-?\\\\d+$/.test(toText(value));\\n  }\\n\\n  function toInt(value, fallback) {\\n    if (!isIntegerLike(value, false)) return fallback;\\n    return Number.parseInt(toText(value), 10);\\n  }\\n\\n  function isBinary(value) {\\n    return toText(value) === \\\"0\\\" || toText(value) === \\\"1\\\" || value === 0 || value === 1;\\n  }\\n\\n  function isUrl(value, allowBlank) {\\n    if (allowBlank && isBlank(value)) return true;\\n    try {\\n      const url = new URL(toText(value));\\n      return url.protocol === \\\"http:\\\" || url.protocol === \\\"https:\\\";\\n    } catch (_error) {\\n      return false;\\n    }\\n  }\\n\\n  function isEmail(value, allowBlank) {\\n    if (allowBlank && isBlank(value)) return true;\\n    return /^[^\\\\s@]+@[^\\\\s@]+\\\\.[^\\\\s@]+$/.test(toText(value));\\n  }\\n\\n  function isPhone(value, allowBlank) {\\n    if (allowBlank && isBlank(value)) return true;\\n    return /^\\\\+\\\\d[\\\\d\\\\s().-]{6,24}$/.test(toText(value));\\n  }\\n\\n  function normalizeDomain(value) {\\n    if (!isUrl(value, true) || isBlank(value)) return \\\"\\\";\\n    try {\\n      return new URL(toText(value)).hostname.toLowerCase().replace(/^www\\\\./, \\\"\\\");\\n    } catch (_error) {\\n      return \\\"\\\";\\n    }\\n  }\\n\\n  function emailDomain(email) {\\n    if (!isEmail(email, true) || isBlank(email)) return \\\"\\\";\\n    return toText(email).split(\\\"@\\\").pop().toLowerCase();\\n  }\\n\\n  function rootDomain(domain) {\\n    const parts = toText(domain).split(\\\".\\\").filter(Boolean);\\n    if (parts.length <= 2) return parts.join(\\\".\\\");\\n    return parts.slice(-2).join(\\\".\\\");\\n  }\\n\\n  function sameRootDomain(a, b) {\\n    if (!a || !b) return false;\\n    return rootDomain(a) === rootDomain(b);\\n  }\\n\\n  function slugify(value) {\\n    return toText(value)\\n      .normalize(\\\"NFKD\\\")\\n      .replace(/[\\\\u0300-\\\\u036f]/g, \\\"\\\")\\n      .toLowerCase()\\n      .replace(/&/g, \\\" and \\\")\\n      .replace(/[^a-z0-9]+/g, \\\"-\\\")\\n      .replace(/^-+|-+$/g, \\\"\\\")\\n      .replace(/-{2,}/g, \\\"-\\\");\\n  }\\n\\n  function csvEscape(value) {\\n    const raw = value === null || value === undefined ? \\\"\\\" : String(value);\\n    if (/[\\\",\\\\r\\\\n]/.test(raw)) return `\\\"${raw.replace(/\\\"/g, '\\\"\\\"')}\\\"`;\\n    return raw;\\n  }\\n\\n  function parseEvidence(record) {\\n    const evidence = [];\\n    const add = (type, url, label) => {\\n      if (!isBlank(url)) evidence.push({ type, url: toText(url), label: label || type });\\n    };\\n\\n    add(\\\"official\\\", record.official_url || record.official_site_evidence, \\\"Official site\\\");\\n    add(\\\"wikipedia\\\", record.wikipedia_url || record.wiki_url || record.source_url, \\\"Wikipedia\\\");\\n    add(\\\"wikidata\\\", record.wikidata_url || record.wikidata, \\\"Wikidata\\\");\\n\\n    const raw = record.evidence_urls || record.evidence || record.source_evidence;\\n    if (!isBlank(raw)) {\\n      if (Array.isArray(raw)) {\\n        raw.forEach((entry) => {\\n          if (typeof entry === \\\"string\\\") add(\\\"source\\\", entry, \\\"Source\\\");\\n          else if (entry && typeof entry === \\\"object\\\") add(entry.type || \\\"source\\\", entry.url, entry.label);\\n        });\\n      } else {\\n        try {\\n          const parsed = JSON.parse(raw);\\n          if (Array.isArray(parsed)) {\\n            parsed.forEach((entry) => {\\n              if (typeof entry === \\\"string\\\") add(\\\"source\\\", entry, \\\"Source\\\");\\n              else if (entry && typeof entry === \\\"object\\\") add(entry.type || \\\"source\\\", entry.url, entry.label);\\n            });\\n          }\\n        } catch (_error) {\\n          toText(raw)\\n            .split(/[,\\\\n]/)\\n            .map((item) => item.trim())\\n            .filter(Boolean)\\n            .forEach((url) => add(\\\"source\\\", url, \\\"Source\\\"));\\n        }\\n      }\\n    }\\n\\n    if (!isBlank(record.website)) add(\\\"official\\\", record.website, \\\"Website\\\");\\n    if (!isBlank(record.admissions_page_link)) add(\\\"official\\\", record.admissions_page_link, \\\"Admissions\\\");\\n\\n    const unique = [];\\n    const seen = new Set();\\n    for (const entry of evidence) {\\n      const key = `${entry.type}:${entry.url}`;\\n      if (!seen.has(key) && isUrl(entry.url, false)) {\\n        unique.push(entry);\\n        seen.add(key);\\n      }\\n    }\\n    return unique;\\n  }\\n\\n  function normalizeRecord(input, context) {\\n    const record = { ...input };\\n    for (const header of CSV_HEADERS) {\\n      if (record[header] === undefined || record[header] === null) record[header] = \\\"\\\";\\n      else record[header] = toText(record[header]);\\n    }\\n\\n    const country = toText(record.country || record.country_name || context?.country);\\n    if (isBlank(record.location) && country && COUNTRY_CODES[country]) {\\n      record.location = String(COUNTRY_CODES[country]);\\n    }\\n    if (isBlank(record.slug)) record.slug = slugify(record.name);\\n    if (!isBlank(record.country) && !/,/.test(record.name)) record.name = `${record.name}, ${record.country}`;\\n    return record;\\n  }\\n\\n  function issue(field, severity, ruleId, message, evidenceUrl) {\\n    return { field, severity, rule_id: ruleId, message, evidence_url: evidenceUrl || \\\"\\\" };\\n  }\\n\\n  function scoreRecord(input, context = {}) {\\n    const record = normalizeRecord(input, context);\\n    const findings = [];\\n    const evidence = parseEvidence(record);\\n    const evidenceTypes = new Set(evidence.map((entry) => entry.type));\\n    const officialDomain = normalizeDomain(record.website);\\n    const admissionsDomain = normalizeDomain(record.admissions_page_link);\\n    const mailDomain = emailDomain(record.admissions_contact);\\n\\n    let schemaErrors = 0;\\n    let schemaWarnings = 0;\\n\\n    if (!isBlank(record.id)) {\\n      findings.push(issue(\\\"id\\\", \\\"minor\\\", \\\"csv.id.must_be_blank\\\", \\\"id must be empty for imports.\\\"));\\n      schemaWarnings += 1;\\n    }\\n\\n    for (const field of CSV_HEADERS) {\\n      if (OPTIONAL_EXPORT_FIELDS.has(field)) continue;\\n      if (isBlank(record[field])) {\\n        const severity = [\\\"name\\\", \\\"location\\\", \\\"description\\\", \\\"slug\\\"].includes(field) ? \\\"critical\\\" : \\\"major\\\";\\n        findings.push(issue(field, severity, `csv.${field}.missing`, `${field} is missing.`));\\n        if (severity === \\\"critical\\\") schemaErrors += 1;\\n      }\\n    }\\n\\n    for (const field of BINARY_FIELDS) {\\n      if (!isBinary(record[field])) {\\n        findings.push(issue(field, \\\"critical\\\", `csv.${field}.binary`, `${field} must be 0 or 1.`));\\n        schemaErrors += 1;\\n      }\\n    }\\n\\n    for (const field of INTEGER_FIELDS) {\\n      const allowBlank = field === \\\"global_rank\\\";\\n      if (!isIntegerLike(record[field], allowBlank)) {\\n        findings.push(issue(field, \\\"critical\\\", `csv.${field}.integer`, `${field} must be a plain integer.`));\\n        schemaErrors += 1;\\n      }\\n    }\\n\\n    if (!isUrl(record.website, true)) {\\n      findings.push(issue(\\\"website\\\", \\\"major\\\", \\\"csv.website.url\\\", \\\"website must be a full http(s) URL.\\\"));\\n      schemaWarnings += 1;\\n    }\\n    if (!isUrl(record.admissions_page_link, true)) {\\n      findings.push(issue(\\\"admissions_page_link\\\", \\\"major\\\", \\\"csv.admissions_page_link.url\\\", \\\"admissions page must be a full http(s) URL.\\\"));\\n      schemaWarnings += 1;\\n    }\\n    if (!isEmail(record.admissions_contact, true)) {\\n      findings.push(issue(\\\"admissions_contact\\\", \\\"major\\\", \\\"csv.admissions_contact.email\\\", \\\"admissions_contact must be a real email format.\\\"));\\n      schemaWarnings += 1;\\n    }\\n    if (!isPhone(record.admissions_phone, true)) {\\n      findings.push(issue(\\\"admissions_phone\\\", \\\"major\\\", \\\"csv.admissions_phone.phone\\\", \\\"admissions_phone must start with a country code.\\\"));\\n      schemaWarnings += 1;\\n    }\\n\\n    const schemaScore = Math.max(0, 20 - schemaErrors * 5 - schemaWarnings * 2);\\n\\n    const required = CSV_HEADERS.filter((field) => !OPTIONAL_EXPORT_FIELDS.has(field));\\n    const completeCount = required.filter((field) => !isBlank(record[field])).length;\\n    const completenessScore = Math.round((completeCount / required.length) * 20);\\n\\n    let evidenceScore = 0;\\n    if (evidenceTypes.has(\\\"official\\\")) evidenceScore += 11;\\n    if (evidenceTypes.has(\\\"wikidata\\\")) evidenceScore += 7;\\n    if (evidenceTypes.has(\\\"wikipedia\\\")) evidenceScore += 5;\\n    evidenceScore += Math.min(2, evidence.length);\\n    evidenceScore = Math.min(25, evidenceScore);\\n    if (evidenceScore < 8) {\\n      findings.push(issue(\\\"source_evidence\\\", \\\"major\\\", \\\"evidence.weak\\\", \\\"Source evidence is weak or absent.\\\"));\\n    }\\n\\n    let contactScore = 0;\\n    if (isUrl(record.website, false)) contactScore += 4;\\n    if (isUrl(record.admissions_page_link, false)) contactScore += 4;\\n    if (isEmail(record.admissions_contact, false)) contactScore += 3;\\n    if (isPhone(record.admissions_phone, false)) contactScore += 2;\\n    if (\\n      (officialDomain && admissionsDomain && sameRootDomain(officialDomain, admissionsDomain)) ||\\n      (officialDomain && mailDomain && sameRootDomain(officialDomain, mailDomain))\\n    ) {\\n      contactScore += 2;\\n    }\\n    if (officialDomain && admissionsDomain && !sameRootDomain(officialDomain, admissionsDomain)) {\\n      findings.push(issue(\\\"admissions_page_link\\\", \\\"major\\\", \\\"contact.domain_mismatch\\\", \\\"Admissions page domain does not match official website.\\\", record.admissions_page_link));\\n    }\\n    if (officialDomain && mailDomain && !sameRootDomain(officialDomain, mailDomain)) {\\n      findings.push(issue(\\\"admissions_contact\\\", \\\"minor\\\", \\\"contact.email_domain_mismatch\\\", \\\"Admissions email domain does not match official website.\\\"));\\n    }\\n    contactScore = Math.min(15, contactScore);\\n\\n    let consistencyScore = 10;\\n    for (const [field, range] of Object.entries(NUMERIC_RANGES)) {\\n      if (isBlank(record[field]) || !isIntegerLike(record[field], false)) continue;\\n      const value = toInt(record[field], 0);\\n      if (value < range[0] || value > range[1]) {\\n        findings.push(issue(field, field === \\\"international_student_ratio\\\" ? \\\"critical\\\" : \\\"major\\\", `outlier.${field}`, `${field} is outside the expected range ${range[0]}-${range[1]}.`));\\n        consistencyScore -= field === \\\"international_student_ratio\\\" ? 4 : 2;\\n      }\\n    }\\n    consistencyScore = Math.max(0, consistencyScore);\\n\\n    const slugCounts = context.slugCounts || {};\\n    const nameCounts = context.nameCounts || {};\\n    const duplicateSlug = record.slug && slugCounts[record.slug] > 1;\\n    const duplicateName = record.name && nameCounts[record.name.toLowerCase()] > 1;\\n    let duplicateScore = 10;\\n    if (duplicateSlug) {\\n      findings.push(issue(\\\"slug\\\", \\\"critical\\\", \\\"duplicate.slug\\\", \\\"Duplicate slug conflict.\\\"));\\n      duplicateScore = 0;\\n    } else if (duplicateName) {\\n      findings.push(issue(\\\"name\\\", \\\"major\\\", \\\"duplicate.name\\\", \\\"Duplicate institution name needs slug disambiguation.\\\"));\\n      duplicateScore = 6;\\n    }\\n\\n    const components = {\\n      schema_type_validity: schemaScore,\\n      field_completeness: completenessScore,\\n      source_evidence_strength: evidenceScore,\\n      website_contact_verification: contactScore,\\n      consistency_outliers: consistencyScore,\\n      duplicate_slug_uniqueness: duplicateScore,\\n    };\\n\\n    const score = Object.values(components).reduce((sum, value) => sum + value, 0);\\n    const hasCritical = findings.some((entry) => entry.severity === \\\"critical\\\");\\n    const importantMissing = findings.some((entry) => entry.rule_id.endsWith(\\\".missing\\\") && entry.severity !== \\\"minor\\\");\\n    let qualityStatus = \\\"Risky\\\";\\n    if (duplicateSlug || score < 45) qualityStatus = \\\"Risky\\\";\\n    else if (score >= 85 && (evidenceTypes.has(\\\"official\\\") || evidenceTypes.has(\\\"wikidata\\\"))) qualityStatus = \\\"Verified\\\";\\n    else if (score >= 70 && !hasCritical) qualityStatus = \\\"Probable\\\";\\n    else if (score >= 45 || importantMissing) qualityStatus = \\\"Needs Review\\\";\\n\\n    return {\\n      ...record,\\n      quality_score: score,\\n      quality_status: qualityStatus,\\n      truth_status: qualityStatus,\\n      export_ready: (record.review_status === \\\"Approved\\\" || record.export_approved === \\\"1\\\" || record.export_approved === 1) && !hasCritical && score >= 70,\\n      score_components: components,\\n      evidence_links: evidence,\\n      finding_count: findings.length,\\n      critical_count: findings.filter((entry) => entry.severity === \\\"critical\\\").length,\\n      major_count: findings.filter((entry) => entry.severity === \\\"major\\\").length,\\n      risky_flags: findings.filter((entry) => entry.severity === \\\"critical\\\" || entry.severity === \\\"major\\\").map((entry) => entry.rule_id),\\n      findings,\\n    };\\n  }\\n\\n  function makeCounts(records) {\\n    const slugCounts = {};\\n    const nameCounts = {};\\n    for (const row of records) {\\n      const slug = toText(row.slug);\\n      if (slug) slugCounts[slug] = (slugCounts[slug] || 0) + 1;\\n      const name = toText(row.name).toLowerCase();\\n      if (name) nameCounts[name] = (nameCounts[name] || 0) + 1;\\n    }\\n    return { slugCounts, nameCounts };\\n  }\\n\\n  function scoreBatch(records, context = {}) {\\n    const normalized = (records || []).map((record) => normalizeRecord(record, context));\\n    const counts = makeCounts(normalized);\\n    return normalized.map((record) => scoreRecord(record, { ...context, ...counts }));\\n  }\\n\\n  function aggregate(records, context = {}) {\\n    const scoredRecords = scoreBatch(records || [], context);\\n    const total = scoredRecords.length;\\n    const statusCounts = { Verified: 0, Probable: 0, \\\"Needs Review\\\": 0, Risky: 0 };\\n    const scoreBands = { \\\"0-44\\\": 0, \\\"45-69\\\": 0, \\\"70-84\\\": 0, \\\"85-100\\\": 0 };\\n    const sourceMix = { official: 0, wikidata: 0, wikipedia: 0, source: 0, none: 0 };\\n    const fieldCompleteness = {};\\n    const numericOutliers = {};\\n    const allFindings = [];\\n    const countries = new Set();\\n    let duplicateCount = 0;\\n\\n    for (const field of CSV_HEADERS) fieldCompleteness[field] = { present: 0, missing: 0, pct: 0 };\\n    for (const field of Object.keys(NUMERIC_RANGES)) numericOutliers[field] = 0;\\n\\n    for (const record of scoredRecords) {\\n      statusCounts[record.quality_status] = (statusCounts[record.quality_status] || 0) + 1;\\n      if (record.quality_score < 45) scoreBands[\\\"0-44\\\"] += 1;\\n      else if (record.quality_score < 70) scoreBands[\\\"45-69\\\"] += 1;\\n      else if (record.quality_score < 85) scoreBands[\\\"70-84\\\"] += 1;\\n      else scoreBands[\\\"85-100\\\"] += 1;\\n\\n      if (!isBlank(record.location)) countries.add(toText(record.location));\\n      if (record.risky_flags.includes(\\\"duplicate.slug\\\") || record.risky_flags.includes(\\\"duplicate.name\\\")) duplicateCount += 1;\\n\\n      for (const field of CSV_HEADERS) {\\n        if (isBlank(record[field])) fieldCompleteness[field].missing += 1;\\n        else fieldCompleteness[field].present += 1;\\n      }\\n\\n      const sourceTypes = new Set(record.evidence_links.map((entry) => entry.type));\\n      if (!sourceTypes.size) sourceMix.none += 1;\\n      for (const type of sourceTypes) sourceMix[type] = (sourceMix[type] || 0) + 1;\\n\\n      for (const finding of record.findings) {\\n        allFindings.push({ ...finding, slug: record.slug, name: record.name });\\n        if (finding.rule_id.startsWith(\\\"outlier.\\\")) {\\n          numericOutliers[finding.field] = (numericOutliers[finding.field] || 0) + 1;\\n        }\\n      }\\n    }\\n\\n    for (const field of CSV_HEADERS) {\\n      const present = fieldCompleteness[field].present;\\n      fieldCompleteness[field].pct = total ? Math.round((present / total) * 100) : 0;\\n    }\\n\\n    const completenessAverage = total\\n      ? Math.round(Object.values(fieldCompleteness).reduce((sum, item) => sum + item.pct, 0) / CSV_HEADERS.length)\\n      : 0;\\n    const exportable = scoredRecords.filter((record) => record.export_ready).length;\\n\\n    return {\\n      records: scoredRecords,\\n      findings: allFindings,\\n      summary: {\\n        total,\\n        countries: countries.size,\\n        verified: statusCounts.Verified || 0,\\n        probable: statusCounts.Probable || 0,\\n        needs_review: statusCounts[\\\"Needs Review\\\"] || 0,\\n        risky: statusCounts.Risky || 0,\\n        completeness_score: completenessAverage,\\n        duplicate_count: duplicateCount,\\n        export_ready: exportable,\\n        export_blocked: Math.max(0, total - exportable),\\n      },\\n      charts: {\\n        status_counts: statusCounts,\\n        score_bands: scoreBands,\\n        source_mix: sourceMix,\\n        numeric_outliers: numericOutliers,\\n      },\\n      fieldCompleteness,\\n    };\\n  }\\n\\n  function validateExport(records, context = {}) {\\n    const scored = scoreBatch(records || [], context);\\n    const exportable = scored.filter((record) => record.export_ready);\\n    const headerOk = CSV_HEADERS.join(\\\",\\\") === \\\"id,name,location,description,slug,sponsored,website,global_rank,financials,student_loan_available,campus_student_life,number_of_students,student_to_faculty_ratio,international_student_ratio,housing_availability,admissions_contact,admissions_phone,contact_person,admissions_page_link,immigration_support,university_campuses\\\";\\n    const blocked = scored.filter((record) => !record.export_ready).map((record) => ({\\n      slug: record.slug,\\n      name: record.name,\\n      quality_score: record.quality_score,\\n      quality_status: record.quality_status,\\n      critical_count: record.critical_count,\\n      review_status: record.review_status || \\\"\\\",\\n    }));\\n    return { headerOk, exportable, blocked };\\n  }\\n\\n  function toCsv(records, context = {}) {\\n    const check = validateExport(records || [], context);\\n    if (!check.headerOk) throw new Error(\\\"CSV header order mismatch.\\\");\\n    const lines = [CSV_HEADERS.join(\\\",\\\")];\\n    for (const record of check.exportable) {\\n      lines.push(CSV_HEADERS.map((header) => csvEscape(record[header])).join(\\\",\\\"));\\n    }\\n    return { filename: \\\"University_Import_Clean.csv\\\", csv: `${lines.join(\\\"\\\\r\\\\n\\\")}\\\\r\\\\n`, count: check.exportable.length, blocked: check.blocked };\\n  }\\n\\n  return {\\n    CSV_HEADERS,\\n    COUNTRY_CODES,\\n    normalizeRecord,\\n    scoreRecord,\\n    scoreBatch,\\n    aggregate,\\n    validateExport,\\n    toCsv,\\n    slugify,\\n  };\\n})();\\n\\nif (typeof module !== \\\"undefined\\\") {\\n  module.exports = UniversityQuality;\\n}\\n\\n\\nconst app = (() => {\\n  const statusColors = {\\n    Verified: \\\"#2f7d54\\\",\\n    Probable: \\\"#1f766f\\\",\\n    \\\"Needs Review\\\": \\\"#a86f13\\\",\\n    Risky: \\\"#b63f3a\\\",\\n  };\\n  const sourceColors = {\\n    official: \\\"#2f7d54\\\",\\n    wikidata: \\\"#6656a5\\\",\\n    wikipedia: \\\"#1f766f\\\",\\n    source: \\\"#a86f13\\\",\\n    none: \\\"#b63f3a\\\",\\n  };\\n  const state = {\\n    payload: null,\\n    records: [],\\n    filtered: [],\\n    selected: new Set(),\\n    activeTab: \\\"overview\\\",\\n    editing: null,\\n    busy: false,\\n  };\\n\\n  const els = {};\\n  const qs = (selector) => document.querySelector(selector);\\n  const qsa = (selector) => Array.from(document.querySelectorAll(selector));\\n\\n  function initElements() {\\n    [\\n      \\\"runMeta\\\", \\\"refreshBtn\\\", \\\"exportBtn\\\", \\\"kpis\\\", \\\"statusTotal\\\", \\\"statusChart\\\", \\\"statusLegend\\\",\\n      \\\"scoreBands\\\", \\\"sourceChart\\\", \\\"sourceLegend\\\", \\\"fieldCompletenessMeta\\\", \\\"heatmap\\\", \\\"outliers\\\",\\n      \\\"schemaIssues\\\", \\\"trustChart\\\", \\\"trustLegend\\\", \\\"riskFlags\\\", \\\"searchInput\\\", \\\"countryFilter\\\",\\n      \\\"statusFilter\\\", \\\"scoreFilter\\\", \\\"missingFilter\\\", \\\"sourceFilter\\\", \\\"riskFilter\\\", \\\"clearFiltersBtn\\\",\\n      \\\"queueCount\\\", \\\"bulkStatus\\\", \\\"bulkApplyBtn\\\", \\\"selectAllRows\\\", \\\"recordRows\\\", \\\"validateExportBtn\\\",\\n      \\\"downloadExportBtn\\\", \\\"exportMetrics\\\", \\\"exportRows\\\", \\\"drawerBackdrop\\\", \\\"recordDrawer\\\",\\n      \\\"drawerTitle\\\", \\\"drawerSlug\\\", \\\"closeDrawerBtn\\\", \\\"editorQuality\\\", \\\"editorEvidence\\\", \\\"recordForm\\\",\\n      \\\"reviewStatusInput\\\", \\\"reviewerInput\\\", \\\"reviewNoteInput\\\", \\\"editorFindings\\\", \\\"rerunChecksBtn\\\",\\n      \\\"saveRecordBtn\\\", \\\"toast\\\"\\n    ].forEach((id) => { els[id] = document.getElementById(id); });\\n  }\\n\\n  function getWebhookBase() {\\n    const path = window.location.pathname;\\n    const testIndex = path.indexOf(\\\"/webhook-test/\\\");\\n    if (testIndex >= 0) return `${window.location.origin}${path.slice(0, testIndex)}/webhook-test`;\\n    const prodIndex = path.indexOf(\\\"/webhook/\\\");\\n    if (prodIndex >= 0) return `${window.location.origin}${path.slice(0, prodIndex)}/webhook`;\\n    return `${window.location.origin}/webhook`;\\n  }\\n\\n  function endpoints() {\\n    const base = getWebhookBase();\\n    return {\\n      api: `${base}/university-quality-api`,\\n      update: `${base}/university-record-update`,\\n      bulk: `${base}/university-bulk-status`,\\n      rerun: `${base}/university-rerun-checks`,\\n      exportCsv: `${base}/university-csv-download`,\\n    };\\n  }\\n\\n  function escapeHtml(value) {\\n    return String(value ?? \\\"\\\")\\n      .replace(/&/g, \\\"&amp;\\\")\\n      .replace(/</g, \\\"&lt;\\\")\\n      .replace(/>/g, \\\"&gt;\\\")\\n      .replace(/\\\"/g, \\\"&quot;\\\")\\n      .replace(/'/g, \\\"&#039;\\\");\\n  }\\n\\n  function toast(message) {\\n    els.toast.textContent = message;\\n    els.toast.classList.add(\\\"open\\\");\\n    window.clearTimeout(toast.timer);\\n    toast.timer = window.setTimeout(() => els.toast.classList.remove(\\\"open\\\"), 2600);\\n  }\\n\\n  function statusClass(status) {\\n    if (status === \\\"Verified\\\") return \\\"verified\\\";\\n    if (status === \\\"Probable\\\") return \\\"probable\\\";\\n    if (status === \\\"Needs Review\\\") return \\\"review\\\";\\n    if (status === \\\"Risky\\\") return \\\"risky\\\";\\n    return \\\"neutral\\\";\\n  }\\n\\n  function setBusy(value) {\\n    state.busy = value;\\n    [els.refreshBtn, els.exportBtn, els.bulkApplyBtn, els.downloadExportBtn, els.saveRecordBtn, els.rerunChecksBtn]\\n      .filter(Boolean)\\n      .forEach((button) => { button.disabled = value; });\\n  }\\n\\n  async function fetchJson(url, options) {\\n    const response = await fetch(url, {\\n      headers: { \\\"Content-Type\\\": \\\"application/json\\\", ...(options?.headers || {}) },\\n      ...options,\\n    });\\n    if (!response.ok) throw new Error(`${response.status} ${response.statusText}`);\\n    return response.json();\\n  }\\n\\n  async function loadData() {\\n    setBusy(true);\\n    try {\\n      const payload = await fetchJson(endpoints().api);\\n      const records = Array.isArray(payload.records) ? payload.records : [];\\n      state.payload = payload;\\n      state.records = UniversityQuality.scoreBatch(records);\\n      state.payload = UniversityQuality.aggregate(state.records);\\n      state.payload.run = payload.run || payload.last_run || {};\\n      state.payload.updated_at = payload.generatedAt || new Date().toISOString();\\n      renderAll();\\n      toast(\\\"Dashboard refreshed\\\");\\n    } catch (error) {\\n      state.payload = UniversityQuality.aggregate([]);\\n      state.records = [];\\n      renderAll();\\n      toast(`API unavailable: ${error.message}`);\\n    } finally {\\n      setBusy(false);\\n    }\\n  }\\n\\n  function renderAll() {\\n    updateFilterOptions();\\n    applyFilters();\\n    renderKpis();\\n    renderOverview();\\n    renderQuality();\\n    renderTrust();\\n    renderReviewQueue();\\n    renderExport();\\n    const updated = state.payload?.updated_at ? new Date(state.payload.updated_at).toLocaleString() : \\\"\\\";\\n    els.runMeta.textContent = updated ? `Last update ${updated}` : \\\"n8n dashboard\\\";\\n  }\\n\\n  function updateFilterOptions() {\\n    const locations = Array.from(new Set(state.records.map((record) => record.location).filter(Boolean))).sort();\\n    els.countryFilter.innerHTML = `<option value=\\\"\\\">All</option>${locations.map((code) => `<option>${escapeHtml(code)}</option>`).join(\\\"\\\")}`;\\n    els.missingFilter.innerHTML = `<option value=\\\"\\\">All</option>${UniversityQuality.CSV_HEADERS.map((field) => `<option>${escapeHtml(field)}</option>`).join(\\\"\\\")}`;\\n  }\\n\\n  function kpi(label, value, meta) {\\n    return `<div class=\\\"kpi\\\"><label>${escapeHtml(label)}</label><strong>${escapeHtml(value)}</strong><small>${escapeHtml(meta || \\\"\\\")}</small></div>`;\\n  }\\n\\n  function renderKpis() {\\n    const s = state.payload?.summary || {};\\n    els.kpis.innerHTML = [\\n      kpi(\\\"Institutions\\\", s.total || 0, \\\"rows loaded\\\"),\\n      kpi(\\\"Countries\\\", s.countries || 0, \\\"numeric ISO codes\\\"),\\n      kpi(\\\"Verified\\\", s.verified || 0, \\\"score >= 85\\\"),\\n      kpi(\\\"Probable\\\", s.probable || 0, \\\"score 70-84\\\"),\\n      kpi(\\\"Needs Review\\\", s.needs_review || 0, \\\"manual queue\\\"),\\n      kpi(\\\"Risky\\\", s.risky || 0, \\\"blocked risk\\\"),\\n      kpi(\\\"Completeness\\\", `${s.completeness_score || 0}%`, \\\"field average\\\"),\\n      kpi(\\\"Export Ready\\\", s.export_ready || 0, `${s.export_blocked || 0} blocked`),\\n    ].join(\\\"\\\");\\n  }\\n\\n  function resizeCanvas(canvas) {\\n    const rect = canvas.getBoundingClientRect();\\n    const ratio = window.devicePixelRatio || 1;\\n    canvas.width = Math.max(1, Math.floor(rect.width * ratio));\\n    canvas.height = Math.max(1, Math.floor(canvas.getAttribute(\\\"height\\\") * ratio));\\n    const ctx = canvas.getContext(\\\"2d\\\");\\n    ctx.setTransform(ratio, 0, 0, ratio, 0, 0);\\n    return { ctx, width: rect.width, height: Number(canvas.getAttribute(\\\"height\\\")) };\\n  }\\n\\n  function renderLegend(el, labels, colors) {\\n    el.innerHTML = labels.map((label) => `<span class=\\\"legend-item\\\"><i class=\\\"dot\\\" style=\\\"background:${colors[label] || \\\"#65736b\\\"}\\\"></i>${escapeHtml(label)}</span>`).join(\\\"\\\");\\n  }\\n\\n  function drawDonut(canvas, data, colors) {\\n    const { ctx, width, height } = resizeCanvas(canvas);\\n    ctx.clearRect(0, 0, width, height);\\n    const entries = Object.entries(data || {}).filter(([, value]) => Number(value) > 0);\\n    const total = entries.reduce((sum, [, value]) => sum + Number(value), 0);\\n    const cx = width / 2;\\n    const cy = height / 2;\\n    const radius = Math.min(width, height) / 2 - 18;\\n    if (!total) {\\n      ctx.fillStyle = \\\"#65736b\\\";\\n      ctx.font = \\\"13px sans-serif\\\";\\n      ctx.textAlign = \\\"center\\\";\\n      ctx.fillText(\\\"No data\\\", cx, cy);\\n      return;\\n    }\\n    let start = -Math.PI / 2;\\n    entries.forEach(([label, value]) => {\\n      const angle = (Number(value) / total) * Math.PI * 2;\\n      ctx.beginPath();\\n      ctx.arc(cx, cy, radius, start, start + angle);\\n      ctx.arc(cx, cy, radius * 0.58, start + angle, start, true);\\n      ctx.closePath();\\n      ctx.fillStyle = colors[label] || \\\"#65736b\\\";\\n      ctx.fill();\\n      start += angle;\\n    });\\n    ctx.fillStyle = \\\"#1d2520\\\";\\n    ctx.font = \\\"700 26px sans-serif\\\";\\n    ctx.textAlign = \\\"center\\\";\\n    ctx.fillText(String(total), cx, cy - 2);\\n    ctx.fillStyle = \\\"#65736b\\\";\\n    ctx.font = \\\"12px sans-serif\\\";\\n    ctx.fillText(\\\"records\\\", cx, cy + 18);\\n  }\\n\\n  function drawBars(canvas, data, colors) {\\n    const { ctx, width, height } = resizeCanvas(canvas);\\n    ctx.clearRect(0, 0, width, height);\\n    const entries = Object.entries(data || {});\\n    const max = Math.max(1, ...entries.map(([, value]) => Number(value)));\\n    const rowH = Math.max(32, (height - 24) / Math.max(1, entries.length));\\n    ctx.font = \\\"12px sans-serif\\\";\\n    entries.forEach(([label, value], index) => {\\n      const y = 16 + index * rowH;\\n      const barW = Math.max(2, ((width - 132) * Number(value)) / max);\\n      ctx.fillStyle = \\\"#65736b\\\";\\n      ctx.textAlign = \\\"left\\\";\\n      ctx.fillText(label, 0, y + 12);\\n      ctx.fillStyle = \\\"#e9eeeb\\\";\\n      ctx.fillRect(112, y, width - 132, 14);\\n      ctx.fillStyle = colors[label] || \\\"#1f766f\\\";\\n      ctx.fillRect(112, y, barW, 14);\\n      ctx.fillStyle = \\\"#1d2520\\\";\\n      ctx.textAlign = \\\"right\\\";\\n      ctx.fillText(String(value), width - 2, y + 12);\\n    });\\n  }\\n\\n  function renderBarList(el, data, color) {\\n    const entries = Object.entries(data || {});\\n    const max = Math.max(1, ...entries.map(([, value]) => Number(value)));\\n    el.innerHTML = entries.map(([label, value]) => `\\n      <div class=\\\"bar-row\\\">\\n        <span>${escapeHtml(label)}</span>\\n        <div class=\\\"bar-track\\\"><i class=\\\"bar-fill\\\" style=\\\"width:${(Number(value) / max) * 100}%;background:${color || \\\"#1f766f\\\"}\\\"></i></div>\\n        <strong>${escapeHtml(value)}</strong>\\n      </div>\\n    `).join(\\\"\\\") || `<div class=\\\"empty\\\">No data</div>`;\\n  }\\n\\n  function renderOverview() {\\n    const charts = state.payload?.charts || {};\\n    els.statusTotal.textContent = `${state.payload?.summary?.total || 0} records`;\\n    drawDonut(els.statusChart, charts.status_counts || {}, statusColors);\\n    renderLegend(els.statusLegend, Object.keys(statusColors), statusColors);\\n    renderBarList(els.scoreBands, charts.score_bands || {}, \\\"#6656a5\\\");\\n    drawBars(els.sourceChart, charts.source_mix || {}, sourceColors);\\n    renderLegend(els.sourceLegend, Object.keys(sourceColors), sourceColors);\\n  }\\n\\n  function heatColor(pct) {\\n    if (pct >= 90) return \\\"#2f7d54\\\";\\n    if (pct >= 70) return \\\"#1f766f\\\";\\n    if (pct >= 45) return \\\"#a86f13\\\";\\n    return \\\"#b63f3a\\\";\\n  }\\n\\n  function renderQuality() {\\n    const fields = state.payload?.fieldCompleteness || {};\\n    const total = state.payload?.summary?.total || 0;\\n    els.fieldCompletenessMeta.textContent = `${total} records`;\\n    els.heatmap.innerHTML = Object.entries(fields).map(([field, item]) => `\\n      <div class=\\\"heat-cell\\\">\\n        <strong>${escapeHtml(field)}</strong>\\n        <div class=\\\"heat-rail\\\"><i style=\\\"width:${item.pct || 0}%;background:${heatColor(item.pct || 0)}\\\"></i></div>\\n        <span>${item.pct || 0}% present, ${item.missing || 0} missing</span>\\n      </div>\\n    `).join(\\\"\\\") || `<div class=\\\"empty\\\">No fields</div>`;\\n    renderBarList(els.outliers, state.payload?.charts?.numeric_outliers || {}, \\\"#a86f13\\\");\\n    const issues = (state.payload?.findings || [])\\n      .filter((finding) => finding.rule_id.startsWith(\\\"csv.\\\") || finding.rule_id.startsWith(\\\"outlier.\\\"))\\n      .slice(0, 60);\\n    renderIssues(els.schemaIssues, issues);\\n  }\\n\\n  function renderTrust() {\\n    const truth = state.payload?.charts?.status_counts || {};\\n    drawBars(els.trustChart, truth, statusColors);\\n    renderLegend(els.trustLegend, Object.keys(statusColors), statusColors);\\n    const flags = (state.payload?.findings || [])\\n      .filter((finding) => finding.rule_id.includes(\\\"contact.\\\") || finding.rule_id.includes(\\\"duplicate.\\\") || finding.rule_id.includes(\\\"evidence.\\\"))\\n      .slice(0, 80);\\n    renderIssues(els.riskFlags, flags);\\n  }\\n\\n  function renderIssues(el, issues) {\\n    if (!issues.length) {\\n      el.innerHTML = `<div class=\\\"empty\\\">No issues</div>`;\\n      return;\\n    }\\n    el.innerHTML = issues.map((issue) => `\\n      <div class=\\\"issue ${escapeHtml(issue.severity || \\\"minor\\\")}\\\">\\n        <strong>${escapeHtml(issue.severity || \\\"\\\")} \\u00b7 ${escapeHtml(issue.rule_id || \\\"\\\")}</strong>\\n        <span>${escapeHtml(issue.name || issue.field || \\\"\\\")}</span>\\n        <span>${escapeHtml(issue.message || \\\"\\\")}</span>\\n      </div>\\n    `).join(\\\"\\\");\\n  }\\n\\n  function applyFilters() {\\n    const text = els.searchInput?.value.trim().toLowerCase() || \\\"\\\";\\n    const country = els.countryFilter?.value || \\\"\\\";\\n    const status = els.statusFilter?.value || \\\"\\\";\\n    const scoreBand = els.scoreFilter?.value || \\\"\\\";\\n    const missing = els.missingFilter?.value || \\\"\\\";\\n    const source = els.sourceFilter?.value || \\\"\\\";\\n    const risk = els.riskFilter?.value || \\\"\\\";\\n\\n    state.filtered = state.records.filter((record) => {\\n      if (text) {\\n        const haystack = `${record.name} ${record.slug} ${record.website} ${record.admissions_contact}`.toLowerCase();\\n        if (!haystack.includes(text)) return false;\\n      }\\n      if (country && record.location !== country) return false;\\n      if (status && record.quality_status !== status) return false;\\n      if (scoreBand) {\\n        const [min, max] = scoreBand.split(\\\"-\\\").map(Number);\\n        if (record.quality_score < min || record.quality_score > max) return false;\\n      }\\n      if (missing && record[missing]) return false;\\n      if (source) {\\n        const types = new Set((record.evidence_links || []).map((entry) => entry.type));\\n        if (source === \\\"none\\\" && types.size) return false;\\n        if (source !== \\\"none\\\" && !types.has(source)) return false;\\n      }\\n      if (risk) {\\n        const flags = record.risky_flags || [];\\n        if (risk === \\\"risky\\\" && record.quality_status !== \\\"Risky\\\") return false;\\n        if (risk === \\\"duplicate\\\" && !flags.some((flag) => flag.includes(\\\"duplicate\\\"))) return false;\\n        if (risk === \\\"contact\\\" && !flags.some((flag) => flag.includes(\\\"contact\\\"))) return false;\\n        if (risk === \\\"schema\\\" && !record.critical_count) return false;\\n      }\\n      return true;\\n    });\\n  }\\n\\n  function missingCount(record) {\\n    return UniversityQuality.CSV_HEADERS.filter((field) => !record[field] && ![\\\"id\\\", \\\"global_rank\\\", \\\"contact_person\\\"].includes(field)).length;\\n  }\\n\\n  function evidenceLabel(record) {\\n    const types = Array.from(new Set((record.evidence_links || []).map((entry) => entry.type)));\\n    return types.length ? types.join(\\\", \\\") : \\\"none\\\";\\n  }\\n\\n  function renderReviewQueue() {\\n    applyFilters();\\n    els.queueCount.textContent = `${state.filtered.length} shown`;\\n    if (!state.filtered.length) {\\n      els.recordRows.innerHTML = `<tr><td colspan=\\\"10\\\"><div class=\\\"empty\\\">No matching records</div></td></tr>`;\\n      return;\\n    }\\n    els.recordRows.innerHTML = state.filtered.map((record) => `\\n      <tr>\\n        <td><input type=\\\"checkbox\\\" class=\\\"row-check\\\" data-id=\\\"${escapeHtml(record.slug)}\\\" ${state.selected.has(record.slug) ? \\\"checked\\\" : \\\"\\\"}></td>\\n        <td class=\\\"name-cell\\\"><strong>${escapeHtml(record.name)}</strong><br><span class=\\\"muted mono\\\">${escapeHtml(record.slug)}</span></td>\\n        <td>${escapeHtml(record.location)}</td>\\n        <td class=\\\"score\\\">${escapeHtml(record.quality_score)}</td>\\n        <td><span class=\\\"pill ${statusClass(record.quality_status)}\\\">${escapeHtml(record.quality_status)}</span></td>\\n        <td>${missingCount(record)}</td>\\n        <td>${escapeHtml(evidenceLabel(record))}</td>\\n        <td><span class=\\\"pill neutral\\\">${escapeHtml(record.review_status || \\\"Unreviewed\\\")}</span></td>\\n        <td>${record.website ? `<a href=\\\"${escapeHtml(record.website)}\\\" target=\\\"_blank\\\" rel=\\\"noreferrer\\\">open</a>` : `<span class=\\\"muted\\\">blank</span>`}</td>\\n        <td><button type=\\\"button\\\" class=\\\"edit-row\\\" data-id=\\\"${escapeHtml(record.slug)}\\\">Edit</button></td>\\n      </tr>\\n    `).join(\\\"\\\");\\n  }\\n\\n  function renderExport() {\\n    const check = UniversityQuality.validateExport(state.records);\\n    els.exportMetrics.innerHTML = [\\n      `<div class=\\\"metric\\\"><label>Header order</label><strong>${check.headerOk ? \\\"Valid\\\" : \\\"Invalid\\\"}</strong></div>`,\\n      `<div class=\\\"metric\\\"><label>Exportable rows</label><strong>${check.exportable.length}</strong></div>`,\\n      `<div class=\\\"metric\\\"><label>Blocked rows</label><strong>${check.blocked.length}</strong></div>`,\\n    ].join(\\\"\\\");\\n    const rows = [...check.exportable.map((record) => ({ ...record, blockers: \\\"\\\" })), ...check.blocked.map((record) => ({ ...record, blockers: `${record.critical_count} critical, ${record.review_status || \\\"Unreviewed\\\"}` }))];\\n    els.exportRows.innerHTML = rows.slice(0, 200).map((record) => `\\n      <tr>\\n        <td class=\\\"name-cell\\\">${escapeHtml(record.name)}</td>\\n        <td class=\\\"mono\\\">${escapeHtml(record.slug)}</td>\\n        <td class=\\\"score\\\">${escapeHtml(record.quality_score)}</td>\\n        <td><span class=\\\"pill ${statusClass(record.quality_status)}\\\">${escapeHtml(record.quality_status)}</span></td>\\n        <td>${escapeHtml(record.review_status || \\\"Unreviewed\\\")}</td>\\n        <td>${escapeHtml(record.blockers || \\\"ready\\\")}</td>\\n      </tr>\\n    `).join(\\\"\\\") || `<tr><td colspan=\\\"6\\\"><div class=\\\"empty\\\">No rows</div></td></tr>`;\\n  }\\n\\n  function switchTab(tab) {\\n    state.activeTab = tab;\\n    qsa(\\\".tab\\\").forEach((button) => button.classList.toggle(\\\"active\\\", button.dataset.tab === tab));\\n    qsa(\\\"[data-view]\\\").forEach((view) => { view.hidden = view.dataset.view !== tab; });\\n    window.requestAnimationFrame(() => {\\n      renderOverview();\\n      renderQuality();\\n      renderTrust();\\n    });\\n  }\\n\\n  function openEditor(slug) {\\n    const record = state.records.find((item) => item.slug === slug);\\n    if (!record) return;\\n    state.editing = record;\\n    els.drawerTitle.textContent = record.name || \\\"Record Editor\\\";\\n    els.drawerSlug.textContent = record.slug || \\\"\\\";\\n    els.editorQuality.innerHTML = `\\n      <div class=\\\"export-box\\\" style=\\\"grid-template-columns: repeat(2, minmax(0, 1fr));\\\">\\n        <div class=\\\"metric\\\"><label>Score</label><strong>${record.quality_score}</strong></div>\\n        <div class=\\\"metric\\\"><label>Status</label><strong>${record.quality_status}</strong></div>\\n      </div>\\n      <div class=\\\"bar-list\\\" style=\\\"margin-top: 12px;\\\">\\n        ${Object.entries(record.score_components || {}).map(([label, value]) => `\\n          <div class=\\\"bar-row\\\">\\n            <span>${escapeHtml(label)}</span>\\n            <div class=\\\"bar-track\\\"><i class=\\\"bar-fill\\\" style=\\\"width:${Number(value)}%;background:${heatColor(Number(value) * 5)}\\\"></i></div>\\n            <strong>${escapeHtml(value)}</strong>\\n          </div>\\n        `).join(\\\"\\\")}\\n      </div>\\n    `;\\n    els.editorEvidence.innerHTML = (record.evidence_links || []).map((entry) => `\\n      <a href=\\\"${escapeHtml(entry.url)}\\\" target=\\\"_blank\\\" rel=\\\"noreferrer\\\">${escapeHtml(entry.type)}: ${escapeHtml(entry.url)}</a>\\n    `).join(\\\"\\\") || `<span class=\\\"muted\\\">No evidence links</span>`;\\n    els.recordForm.innerHTML = UniversityQuality.CSV_HEADERS.map((field) => {\\n      const full = [\\\"description\\\", \\\"campus_student_life\\\", \\\"financials\\\", \\\"admissions_page_link\\\"].includes(field) ? \\\" full\\\" : \\\"\\\";\\n      const value = record[field] ?? \\\"\\\";\\n      const input = [\\\"description\\\", \\\"campus_student_life\\\"].includes(field)\\n        ? `<textarea name=\\\"${field}\\\">${escapeHtml(value)}</textarea>`\\n        : `<input name=\\\"${field}\\\" value=\\\"${escapeHtml(value)}\\\">`;\\n      return `<div class=\\\"form-field${full}\\\"><label>${escapeHtml(field)}</label>${input}</div>`;\\n    }).join(\\\"\\\");\\n    els.reviewStatusInput.value = record.review_status || \\\"\\\";\\n    els.reviewerInput.value = record.reviewer || \\\"\\\";\\n    els.reviewNoteInput.value = \\\"\\\";\\n    renderIssues(els.editorFindings, record.findings || []);\\n    els.drawerBackdrop.classList.add(\\\"open\\\");\\n    els.recordDrawer.classList.add(\\\"open\\\");\\n  }\\n\\n  function closeEditor() {\\n    els.drawerBackdrop.classList.remove(\\\"open\\\");\\n    els.recordDrawer.classList.remove(\\\"open\\\");\\n    state.editing = null;\\n  }\\n\\n  function collectEditorUpdates() {\\n    const data = {};\\n    new FormData(els.recordForm).forEach((value, key) => { data[key] = String(value).trim(); });\\n    data.review_status = els.reviewStatusInput.value;\\n    data.reviewer = els.reviewerInput.value.trim();\\n    return data;\\n  }\\n\\n  async function saveRecord() {\\n    if (!state.editing) return;\\n    const updates = collectEditorUpdates();\\n    setBusy(true);\\n    try {\\n      await fetchJson(endpoints().update, {\\n        method: \\\"POST\\\",\\n        body: JSON.stringify({\\n          slug: state.editing.slug,\\n          updates,\\n          note: els.reviewNoteInput.value.trim(),\\n        }),\\n      });\\n      const index = state.records.findIndex((record) => record.slug === state.editing.slug);\\n      if (index >= 0) state.records[index] = UniversityQuality.scoreRecord({ ...state.records[index], ...updates });\\n      state.payload = UniversityQuality.aggregate(state.records);\\n      closeEditor();\\n      renderAll();\\n      toast(\\\"Record saved\\\");\\n    } catch (error) {\\n      toast(`Save failed: ${error.message}`);\\n    } finally {\\n      setBusy(false);\\n    }\\n  }\\n\\n  async function bulkApply() {\\n    const ids = Array.from(state.selected);\\n    if (!ids.length) {\\n      toast(\\\"No rows selected\\\");\\n      return;\\n    }\\n    const status = els.bulkStatus.value;\\n    setBusy(true);\\n    try {\\n      await fetchJson(endpoints().bulk, {\\n        method: \\\"POST\\\",\\n        body: JSON.stringify({ slugs: ids, review_status: status, note: `Bulk ${status}` }),\\n      });\\n      state.records = state.records.map((record) => ids.includes(record.slug) ? UniversityQuality.scoreRecord({ ...record, review_status: status }) : record);\\n      state.selected.clear();\\n      state.payload = UniversityQuality.aggregate(state.records);\\n      renderAll();\\n      toast(\\\"Bulk action applied\\\");\\n    } catch (error) {\\n      toast(`Bulk action failed: ${error.message}`);\\n    } finally {\\n      setBusy(false);\\n    }\\n  }\\n\\n  function downloadCsv() {\\n    window.location.href = endpoints().exportCsv;\\n  }\\n\\n  function bindEvents() {\\n    qsa(\\\".tab\\\").forEach((button) => button.addEventListener(\\\"click\\\", () => switchTab(button.dataset.tab)));\\n    els.refreshBtn.addEventListener(\\\"click\\\", loadData);\\n    els.exportBtn.addEventListener(\\\"click\\\", downloadCsv);\\n    els.downloadExportBtn.addEventListener(\\\"click\\\", downloadCsv);\\n    els.validateExportBtn.addEventListener(\\\"click\\\", () => { renderExport(); toast(\\\"Export revalidated\\\"); });\\n    [els.searchInput, els.countryFilter, els.statusFilter, els.scoreFilter, els.missingFilter, els.sourceFilter, els.riskFilter]\\n      .forEach((input) => input.addEventListener(\\\"input\\\", renderReviewQueue));\\n    els.clearFiltersBtn.addEventListener(\\\"click\\\", () => {\\n      [els.searchInput, els.countryFilter, els.statusFilter, els.scoreFilter, els.missingFilter, els.sourceFilter, els.riskFilter]\\n        .forEach((input) => { input.value = \\\"\\\"; });\\n      renderReviewQueue();\\n    });\\n    els.recordRows.addEventListener(\\\"change\\\", (event) => {\\n      if (!event.target.classList.contains(\\\"row-check\\\")) return;\\n      const id = event.target.dataset.id;\\n      if (event.target.checked) state.selected.add(id);\\n      else state.selected.delete(id);\\n    });\\n    els.recordRows.addEventListener(\\\"click\\\", (event) => {\\n      const button = event.target.closest(\\\".edit-row\\\");\\n      if (button) openEditor(button.dataset.id);\\n    });\\n    els.selectAllRows.addEventListener(\\\"change\\\", () => {\\n      if (els.selectAllRows.checked) state.filtered.forEach((record) => state.selected.add(record.slug));\\n      else state.filtered.forEach((record) => state.selected.delete(record.slug));\\n      renderReviewQueue();\\n    });\\n    els.bulkApplyBtn.addEventListener(\\\"click\\\", bulkApply);\\n    els.closeDrawerBtn.addEventListener(\\\"click\\\", closeEditor);\\n    els.drawerBackdrop.addEventListener(\\\"click\\\", closeEditor);\\n    els.saveRecordBtn.addEventListener(\\\"click\\\", saveRecord);\\n    els.rerunChecksBtn.addEventListener(\\\"click\\\", () => {\\n      if (!state.editing) return;\\n      const updates = collectEditorUpdates();\\n      const rescored = UniversityQuality.scoreRecord({ ...state.editing, ...updates });\\n      state.editing = rescored;\\n      renderIssues(els.editorFindings, rescored.findings || []);\\n      toast(\\\"Checks rerun\\\");\\n    });\\n    window.addEventListener(\\\"resize\\\", () => {\\n      renderOverview();\\n      renderTrust();\\n    });\\n  }\\n\\n  function start() {\\n    initElements();\\n    bindEvents();\\n    loadData();\\n  }\\n\\n  return { start };\\n})();\\n\\ndocument.addEventListener(\\\"DOMContentLoaded\\\", app.start);\\n  </script>\\n</body>\\n</html>\\n\";\nreturn [{ json: { html } }];"
      },
      "id": "8c5602a2-7949-50c5-aa8b-1b61086ced6b",
      "name": "Render Dashboard HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "a0e55d44-29f8-5ae8-b995-86be5fd52601",
      "name": "Return Dashboard",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        520,
        0
      ]
    }
  ],
  "connections": {
    "GET /university-dashboard": {
      "main": [
        [
          {
            "node": "Render Dashboard HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Dashboard HTML": {
      "main": [
        [
          {
            "node": "Return Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
